<p-toast></p-toast>
<p-panel *ngIf="displayHtml" header="New Relation">
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				Relation:
			</div>
			<div class="ui-grid-col-8">
				<input type="text" pInputText [(ngModel)]="relation" placeholder="A,B,C"/>
			</div>
		</div>		
		<div class="ui-grid-row" *ngFor="let key of keys; let i = index">					
			<div class="ui-grid-col-2">
				Key{{i+1}}:
			</div>
			<div class="ui-grid-col-8">
				<input [disabled]="!relation" #keyId type="text" pInputText [value]="key" (change)="updateKeyValue(i, keyId.value)" placeholder="A,B"/>
			</div>
			<div class="ui-grid-col-2" *ngIf="i == 0">
				<button [disabled]="!relation" class="ui-button-warning" pButton type="button" label="Add key" (click)="addKey()"></button>
			</div>
		</div>

		<div class="ui-grid-row" *ngFor="let functionalDependency of functionalDependencies; let i = index">					
			<div class="ui-grid-col-2">
				Funtional Dependecy{{i+1}}:
			</div>
			<div class="ui-grid-col-3">
				<input 
					[disabled]="!relation" 
					#leftFunctionalDependencyId 
					type="text" 
					pInputText 
					(change)="updateLeftSideAttributesOfFunctionalDependecy(i, leftFunctionalDependencyId.value)" 
					placeholder="A,B"
				/>
			</div>
			<div class="ui-grid-col-2">
				<div style="text-align: center;"><strong>--------------></strong></div>
			</div>
			<div class="ui-grid-col-3">
				<input 
					[disabled]="!relation" 
					#rightFunctionalDependencyId 
					type="text" 
					pInputText 
					(change)="updateRightSideAttributesOfFunctionalDependecy(i, rightFunctionalDependencyId.value)" 
					placeholder="B,C"
				/>
			</div>			
			<div class="ui-grid-col-2" *ngIf="i == 0">
				<button [disabled]="!relation" class="ui-button-warning" pButton type="button" label="Add functional dependency" (click)="addFunctionalDependency()"></button>
			</div>
		</div>
				
		<br>
		<div class="ui-grid-row">			
			<div class="ui-grid-col-4">
				<button [disabled]="!relation||keys[0].length == 0" class="ui-button-success" pButton type="button" label="Save" (click)="save()"></button>
			</div>
			<div class="ui-grid-col-4">
				<button pButton type="button" label="Cancel" (click)="cancel()"></button>
			</div>
		</div>
	</div>
</p-panel>
